<!-- views/partials/footer.ejs used template from https://scotch.io/tutorials/use-ejs-to-template-your-node-application-->

<p id ="copyright" class="text-center text-muted">© Copyright 2016 - Connor McCann</p>

