<!-- views/submit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/head %>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <main class ="container" id = "main_analytics">
        <div class ="row col-md-offset-1/2">
            <div id ="top_bttn">
                <ul class="list-inline">
                    <li><div id = "dropdown_div" class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Product
                        <span class="caret"></span></button>
                        <ul id = "dropdown_list" class="dropdown-menu">
                            <!-- all of the names will be created with analytics.js -->
                        </ul>
                    </div> </li>
                    <li><label for="from">From</label></li>
                    <li><input type="text" id="from" name="from"></li>
                    <li><label for="to">to</label></li>
                    <li><input type="text" id="to" name="to"></li>
                </ul>
            </div>
            <div id ="product_plot"></div>
            <div class ="col-md-4">
                <div id = "current_chart" class ="guage"></div>
            </div>
            <div class ="col-md-4">
                <div id = "avg_chart" class ="guage"></div>
            </div>
            <div class ="col-md-4">
                <div id = "min_chart" class ="guage"></div>
            </div>
        </div>
    </main>
    <footer class = "footer">
        <% include partials/footer %>
    </footer>
</body>
<script type ="text/javascript" src="./javascripts/analytics.js"></script>
<script type="text/javascript" src="./javascripts/canvasjs.min.js"></script>
<script type="text/javascript" src="./javascripts/justgage.js"></script>
<script type="text/javascript" src="./javascripts/raphael-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>      
