<!-- views/submit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/head %>
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <main class = "main_products">
        <table id ="prod_table" class ="table table-hover">  
            <thead>
                <tr>
                    <th>Product Description</th>
                    <th>Original Price</th>
                    <th>Target Price</th>
                    <th>Availability</th>
                    <th>Link</th>
                    <th>Delete</th>
                </tr>
            <tbody>
            </tbody>
            </thead>        
        </table>
    </main>
    <footer class = "footer">
        <% include partials/footer %>
    </footer>
</body>
<script type ="text/javascript" src= "./javascripts/products.js"></script>
<script type ="text/javascript" src ="./javascripts/search.js"></script>
</html>      
